body{ 
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{ 
    font-size: 50px;
}

.change-color{  
    color: orange;
}

section{ 
    display: flex;
    
}

.half-width{  
    width: 50%;
    padding: 3%;
}

.half-width img{ 
    width: 80%;
}

.link-button{  
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    background-image: linear-gradient(orange, orangered);
    border-radius: 5px;
    
}

.btn-margin{ 
    margin-top: 80px;
}

.banner-top{ 
    background-image: url(../Images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    background-image: url(../Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}